@import 'covid19_animation.css';

*{
 box-sizing: border-box;
 padding: 0;
 margin: 0;
}
html{
 font-size: 10px;
 scroll-behavior: smooth;
}
.main{
 display: flex;
 justify-content: center;
 flex-direction: column;
 align-items: center;
 width: 80vw;;
 margin: auto;
}
.title{
 display: flex;
 justify-content: center;
 padding: 10px;
}

button{
 margin: 0.2rem;
 padding: 2px 12px;
 border-radius: 15px;
}
.chartArea{
 height: 70vh;
 position: relative;
 min-width: 70%;
}
.CountriesButtons{
 margin: 3.3rem;
 justify-content: center;
 display: flex;
 flex-wrap: wrap-reverse;
 flex-direction: row-reverse; 
}
.CountriesButtons button{
 color:azure;
}

#myChart{
 width:100% !important;
 height:100% !important;
}
.mainBtns{
 margin: 18px;
 padding: 15px;
}
.statuses{
 visibility: hidden;
 
}
