*{
 box-sizing: border-box;
 padding: 0;
 margin: 0;
}
html{
 font-size: 10px;
 scroll-behavior: smooth;
}
.main{
 display: flex;
 justify-content: center;
 flex-direction: column;
 align-items: center;
}
.title{
 display: flex;
 justify-content: center;
 padding: 10px;
}

button{
 margin: 0.2rem;
 padding: 2px;
}
.chartArea{
 height: 80vh;
}
.countriesBtnsDiv{
 margin: 3.3rem;
 justify-content: space-between;
 display: flex;
 flex-wrap: wrap;
}

#myChart{
 width:100% !important;
 height:100% !important;
}
.lastestDataBtns{
 margin: 18px;
 padding: 15px;
}